<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>The Real Shoe Review</title>
<link rel="stylesheet" type="text/css" href="/normalize.css"/>
<link rel="stylesheet" type="text/css" href="/stylesheet.css"/>
<link rel="stylesheet" type="text/css" href="/layout.css"/>
</head>

<body>
	<div class="container">
	<header>
		<h1>Mori's Real Highfalutin Toe-Nail-Bittin' Shoe Review!!!</h1>	
		<nav>
			<ul>
				<li><a href="/reviews">Reviews</a></li>
				<li><a href="/categories">Categories</a></li>
				<li><a href="/tags">Tags</a></li>
			</ul>
		</nav>		
	</header>
	<section class="main-section">
	<div>
		<h2 th:text="${'Category: ' + review.category}"></h2>
		<h2 th:text="${'Name: ' + review.name}"></h2>
		<h2 th:text="${'Review Date: ' + review.date}"></h2>
	</div>
	<div>
		<h2 th:text="${'Review: ' + review.content}"></h2>
	</div>
	<div>
		<img th:src="${review.imageUrl}" alt="This is a picture of a pair of shoes"></img>		
		<h2 th:text="${'Tags: ' + review.tags}"></h2>
	</div>
	</section>
	
	<div class="form">
	<form id="add-course">
		<label>Enter a new tag name: </label>
		<input type="text" name="name" />
		<button th:formaction="@{/add-tag}">add</button>
	</form>
			
	<form id="remove-course">
		<label>Enter id of the tag you wish to remove: </label>
		<input type="text" name="id" />
		<button th:formaction="@{/remove-tag}">delete</button>
	</form>	
	</div>
	
	<footer>
		<p>&copy; 2017 Mori Benjamin</p>
		<a href="http://localhost:8080/reviews">Back to home</a>
	</footer>
	</div>
</body>
</html>